@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

:root{
      font-family: "Zalando Sans Expanded", sans-serif;
      
      --text-color: #08183A;
      
      --spacing: 1.5rem;
      --border-width: 0.08rem;
      
      --h1-size: 2rem;
      color: var(--text-color);
    }
    
    body{
        main{
            .hero{
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                padding-inline: var(--spacing);
                
                .hero-text{
                    text-align: center;
                    h1{
                        font-size: var(--h1-size) ;
                        font-weight: 700;
                        margin-block-end: 0.5rem;
                    }
                
                    p{
                    text-align: center;
                    margin: 0 auto;
                    margin-block-end: 0.8rem;
                    color: #08183aca;
                    }
    
                    .arena{
                        display: flex;
                        align-items: center;
                        gap: var(--spacing);
                        border: var(--border-width) solid var(--text-color);
                        border-radius: 2rem;
                        padding-block: 0.3rem;
                        padding-inline: 0.5rem;
    
                    }
                }
                
        }

        .content{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: var(--spacing);

            details{

                summary{
                    font-size: 1.5rem;
                        text-transform: uppercase;
                        font-weight: 600;
                }
                
                .wheel{
                    display: flex;
                    gap: var(--spacing);

                    .wheel-content{
                        height: 12rem;
                        width: 12rem;
                        border: var(--border-width) solid var(--text-color);
                    
                    }
                }
            }
            
        }
    }
}

@media (width>500px) {
    
body{
    main{
        .hero{
            .butterfly-image{
                    display: none;
                }
                background-image: url("Images/[t×6s]_[b6f5cd84-8ca1-4d34-a0bb-c2d0ed6051ec]_2026-02-02_15-00-57.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
        }
    }
}
}


@media (width>650px) {

:root{
      --h1-size: 3rem;

}
    body{
        main{
            .hero{
                .hero-text{
                    background: white;
                }
                
                h1{
                }

                p{
                        margin: 0 auto;
                        max-width: 40rem;
                margin-block-end: 0.8rem;

                    }
            }
        }
    }
}