@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

:root{
      font-family: "Zalando Sans Expanded", sans-serif;
      font-size: 0.9rem;
      
      --text-color: #08183A;
      
      --spacing: 1.5rem;
      --border-width: 0.05rem;
      
      --h1-size: 2rem;
      color: var(--text-color);

      scroll-behavior: smooth;
    }
    
    body{
        main{
            .hero{
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100vh;
                padding: var(--spacing);
                
                .hero-text{
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--spacing)/2);

                    .butterfly-image{
                        /* margin-block-end: var(--spacing); */
                    }

                    
                    h1{
                        font-size: var(--h1-size) ;
                        font-weight: 700;
                        display: inline;
                    }
                    
                    p{
                        text-align: center;
                        margin: 0 auto;
                        color: #08183aa9;
                    }
                    
                    h1,p{
                        background: rgba(255, 255, 255, 0.636);
                        box-shadow: 0px 0px 20px 12px rgba(255, 255, 255, 0.636);
                    }
                    
                }


                
                a{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding-block: 0.3rem;
                    padding-inline: 0.8rem;
                    width: fit-content;
                    border-radius: 2rem;
                }
                
                .collection{
                    border: var(--border-width) solid var(--text-color);
                }
                 
                a:hover{
                        background: rgba(47, 62, 94, 0.26);
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                         backdrop-filter: blur(9.4px);
                    }

                    
                
        }

        .content{
            margin-block-start: calc(var(--spacing)*2);
            margin-block-end: calc(var(--spacing)*8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: var(--spacing);
            
            
            p{
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 600;
            }

            
            
            dialog{
                /* Added a frosty blurred background for modal */
                /* From https://css.glass */
                /* Here we are adding a tinted background with low opacity then adding backdrop filter that blurs the stuffs behind the modal */
                background: rgba(47, 62, 94, 0.26);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(9.4px);
                

                /* Was having trouble with the modal not taking full height so asked chatgpt.  */
                /* Apparently the dialog is inside a container with limited height and it was inheriting that height so I think this code makes it cover the entire viewport by defining its position and moving it to the top of the screen.  */
                position: fixed;
                inset: 0; 
                z-index: 1000;

                padding: var(--spacing);


                ul{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: var(--spacing);

                    li{
                        img{
                            height: 12rem;
                            width: 12rem;
                            border: var(--border-width) solid var(--text-color);
                            border-radius: 2rem;
                            object-fit: cover;
                            overflow: hidden;
                        }
                    }
                }
            }
            }
    }
}

@media (width>500px) {

    :root{
      --h1-size: 2.5rem;
      font-size: 1rem;
}
    
body{
    main{
        .hero{
            background-image: url("Images/[t×6s]_[b6f5cd84-8ca1-4d34-a0bb-c2d0ed6051ec]_2026-02-02_15-00-57.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
                   
            .butterfly-image{
                    display: none;
                }
        }
    }
}
}


@media (width>650px) {

:root{
      --h1-size: 3rem;
      font-size: 1rem;
}
    body{
        main{
            .hero{
                .hero-text{
                }
                
                h1{
                }

                p{
                        margin: 0 auto;
                        max-width: 40rem;
                margin-block-end: 0.8rem;

                    }
            }

            .content{
                margin-block-start: calc(var(--spacing)*10);

            }
        }
    }
}