@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

:root{
      font-family: "Zalando Sans Expanded", sans-serif;
      font-size: 0.9rem;
      
      --text-color: #08183A;
      
      --spacing: 1.5rem;
      --border-width: 0.05rem;
      
      --h1-size: 2rem;
      color: var(--text-color);

      scroll-behavior: smooth;

      --blur-background-color: rgba(47, 62, 94, 0.26);
      --blur-background-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      --blur-background-backdrop-filter: blur(9.4px);
                         
    }
    
    body{
        main{
            .hero{
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100vh;
                padding: var(--spacing);
                
                .mobile-external-links{
                    display: flex;
                    gap: var(--spacing);
                    width: 100%;
                    justify-content: space-between;
                    /* margin-bottom: var(--spacing); */
                }

                .hero-text{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    flex-direction: column;
                    gap: calc(var(--spacing)/2);

                    .butterfly-image{
                        /* margin-block-end: var(--spacing); */
                    }

                    
                    h1{
                        font-size: var(--h1-size) ;
                        font-weight: 700;
                        display: inline;
                        width: fit-content;
                    }
                    
                    p{
                        text-align: center;
                        margin: 0 auto;
                        color: #08183aa9;
                    }
                    
                    h1,p{
                        background: rgba(255, 255, 255, 0.636);
                        box-shadow: 0px 0px 20px 12px rgba(255, 255, 255, 0.636);
                    }

                    .updated-date{
                        display: flex;
                        width: fit-content;
                        align-self: center;
                        gap: 0.5rem;
                    }

                    p+p{
                        font-weight: 600;
                    }

                    .hero-content{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                    }
                    
                }
                


                .content{
                            .collection-modal, a, #controls{
                                border-radius: 2rem;
                                padding-block: 0.3rem;
                                padding-inline: 0.8rem;
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                                width: fit-content;
                            }
                            
                            button:hover, a:hover{
                                    background: rgba(47, 62, 94, 0.26);
                                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                                    backdrop-filter: blur(9.4px);
                                }
                            
                            button, #controls{
                                border: var(--border-width) solid var(--text-color);
                            }
            

                    
                    
                }

                    
                    dialog{
                        /* Added a frosty blurred background for modal */
                        /* From https://css.glass */
                        /* Here we are adding a tinted background with low opacity then adding backdrop filter that blurs the stuffs behind the modal */
                        background: rgba(47, 62, 94, 0.26);
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        backdrop-filter: blur(9.4px);
                        
        
                        /* Was having trouble with the modal not taking full height so asked chatgpt.  */
                        /* Apparently the dialog is inside a container with limited height and it was inheriting that height so I think this code makes it cover the entire viewport by defining its position and moving it to the top of the screen.  */
                        position: fixed;
                        inset: 0; 
                        z-index: 1000;
                        overflow-y: auto;
                        padding: var(--spacing);
        

                        .dialog-header{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            z-index: 1;
                            align-items: center;
                            position: sticky;
                            top: 0;
                            /* width: 100vw; */
                            /* min-height: 100%; */
                            /* height: 100%; */
                            
                            .close-button{
                                position: sticky;
                                top: 0;
                            }
                            
                            #controls{
                                position: sticky;
                                display: flex;
                                
                                button{
                                    border: none;
                                }
                            }
                        }
                        

                        /* Content list pulled from the channel blocks is displayed in a grid layout. 3 columns are defined and the content is spaced out evenly.  */
                        ul{
                            display: flex;
                            flex-direction: wrap;
                            /* width: 200rem; */
                            /* flex-grow: 3; */
                            /* gap: var(--spacing); */
                            align-self: flex-start;
                            /* align-items: baseline; */
                            /* justify-content: space-evenly; */
                            margin: 0 auto;

                            li{
                                
                            }
                            
                            /* based on object style  */
                            .images{
                                grid-column: 1 3;
                            }

                            .text{ 
                                /* making the text content come in the middle */
                                grid-column: 2;
                                /* max-width: 20rem; */
                                

                                p{
                                    background: rgba(255, 255, 255, 0.636);
                                    box-shadow: 0px 0px 40px 50px rgba(255, 255, 255, 0.636);
                                    text-align: center;
                                    color: #08183ad4;
                                    line-height: 1.6rem;
                                    padding: 1rem;
                                    border-radius: 8rem;

                                }
                            }

                            .content-size{
                                max-height: 12rem;
                                /* mask-image: url(/Images/Vector\ 1.svg); */
                                /* mask-size: 100% 100%; */
                                /* mask-repeat: no-repeat; */
                                /* mask-position: center; */
                                /* object-fit: cover; */
                                
                            } 

                            .content-size:hover{
                                /* filter: blur(1rem); */
                            }


                        }
                        
                    
                    }
                    
        }

    }
}
body:has(dialog[open]) { overflow: hidden; }

footer{
    
    .contribution{
        background: var(--blur-background-color);
        box-shadow: var(--blur-background-box-shadow);
        backdrop-filter: var(--blur-background-backdrop-filter);

        #channel-users{
        display: flex;
        align-items: center;
        gap: var(--spacing);
        padding: 1rem;
    }
    }
}

@media (width>500px) {

    :root{
      --h1-size: 2.5rem;
      font-size: 1rem;
}
    
body{
    main{
        .hero{
            background-image: url("/Images/hero-butterfly.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
                   
            .butterfly-image{
                    display: none;
                }
        }
    }
}
}


@media (width>650px) {

:root{
      --h1-size: 3rem;
      font-size: 1rem;
}
    body{
        main{
            .hero{
                .hero-text{
                }
                
                h1{
                }

                p{
                        margin: 0 auto;
                        max-width: 40rem;
                        margin-block-end: 0.8rem;

                    }
            }

            .content{

                dialog{

                    ul{
                    display: grid;
                    /* grid-template-columns: repeat(5, 1fr); */
                    grid-template-rows: auto;
                    /* gap: calc(var(--spacing)*9); */
                    

                    li{
                        
                    }
                    
                    img{
                        /* height: 16rem; */
                        /* width: 16rem; */
                        /* border: var(--border-width) solid var(--text-color); */
                        border-radius: 2rem;
                        /* object-fit: cover; */
                        /* overflow: hidden; */
                        /* mask-image: radial-gradient(black 50%, transparent 60%); */
                    }

                    text{
                        /* making the text content come in the middle */
                        grid-column: 4;
                        /* max-width: 30rem; */
                    }

                    .content-size{
                        max-height: 80rem;
                        /* aspect-ratio: 16/9; */
                    }
                }


                }
            }
        }
    }
}